table {
  border-collapse: collapse;
}

table * {
  white-space: nowrap;
}

table td {
  /* border: solid 1px #ccc; */
  padding: 4px 6px;
}

table td:not(*:first-child, *:last-child) {
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

table tbody tr:nth-child(odd) {
  background-color: #eee;
}

table thead tr {
  background-color: #333;
  color: white;
}